<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View 2</title>
    </head>
    <body>

        <h1>Shipping Address</h1>

        <form method="POST" data-th-action="@{/shippingaddress}" data-th-object="${shippingaddress}">			  
            <!-- <input type="hidden" name="previousCart" data-th-value="${previousCart}"> -->

            <tr>
                <td>Name: </td>
                <td>
                
                <input type="text" name="name" size="30" placeholder="Your name" data-th-field="*{name}">
                <div data-th-if="${#fields.hasErrors('name')}">
                    <span data-th-errors="*{name}" data-th-errorclass="error"></span>
                </div>
                </td>
            </tr>
            <br><br>


            <tr>
                <td>Address: </td>
                <td>
                    
                <input type="text" name="address" size="30" placeholder="Your address" data-th-field="*{address}">
                <div data-th-if="${#fields.hasErrors('address')}">
                    <span data-th-errors="*{address}" data-th-errorclass="error"></span>
                </div>
                </td>
            </tr>
            <br><br>

            <div>
					<button type="submit" form method="GET" formaction="/">
						Back
					</button>
                    <button type="submit" form method="POST" formaction="/view3">Checkout</button>
            </div>

        </form>

        
        
    </body>
</html>